{% extends "base.html" %}

{% block title %} 📚 Связаться {% endblock %}

{% block content %}
<div class="mt-10 mx-auto max-w-6xl">
    <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Связаться</h1>

    <p class="dark:text-gray-400">
        Если у вас есть вопросы или запросы относительно нашей Политики приватности, вопросы по сайту или иные деловые предложения, пожалуйста, свяжитесь с нами по адресу <a href="mailto:combitoo@mail.ru" class="hover:underline">combitoo@mail.ru</a>
    </p>
</div>
{% endblock %}