<footer class="bg-white rounded-lg shadow dark:bg-gray-800 mt-10 mx-auto max-w-6xl">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023-2024 <a href="/" class="hover:underline">BloGo</a>. Все права сохранены.</span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="/info/about_product" class="mr-4 hover:underline md:mr-6 ">О продукте</a>
            </li>
            <li>
                <a href="/info/privacy_policy" class="mr-4 hover:underline md:mr-6">Политика приватности</a>
            </li>
            <li>
                <a href="/info/contact" class="hover:underline">Связаться</a>
            </li>
        </ul>
    </div>
</footer>

<button 
    id="to-top-button" 
    onclick="goToTop()"
    class="select-none animate-bounce hidden fixed z-90 bottom-4 right-4 lg:bottom-8 lg:right-8 border-0 w-12 h-12 rounded-full drop-shadow-md bg-primary-700 text-white text-3xl font-bold"
>&uarr;</button>